################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/obj/Debug/ConsoleApp3.pdb
/obj/Debug/ConsoleApp3.exe
/obj/Debug/ConsoleApp3.csproj.FileListAbsolute.txt
/obj/Debug
/bin/Debug/ConsoleApp3.pdb
/bin/Debug/ConsoleApp3.exe.config
/bin/Debug/ConsoleApp3.exe
/bin/Debug
